#banner{    
    min-height: 100vh;
}

.presentation-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
        
    font-family: "Londrina Solid", sans-serif;
    font-size: 2rem;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.presentation-wrapper p{
    text-align: justify;
}
.name-presentation{
    font-family: "Square Peg", cursive;
    font-size: 1.7rem;
    font-weight: bolder;

    transform: rotate(353deg);
    margin-bottom: 1rem; /*para evitar sobreposição*/
}
.-outline-text{
    font-family: "Londrina Sketch", sans-serif;
    font-weight: bolder;
}

/*BTN PADRÃO*/
.btns-banner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    background-color: var(--color-lilac);
    color: var(--color-light);
    border: 2px solid var(--color-dark);

    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;

    
    box-shadow: 5px 5px #0000007a;
    transition: transform .1s ease-in-out;
}


@media only screen and (min-width: 600px){
    #banner{
        justify-content: space-evenly;
    
        height: calc(100vh - 70px); /*Subtraindo a altura da nav*/
    }    
    .presentation-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
            
        font-family: "Londrina Solid", sans-serif;
        font-size:3rem;
        line-height: 70px;
        margin: 40px auto;
    }
    .presentation-wrapper p{
        text-align: justify;
    }
    .name-presentation{
        font-family: "Square Peg", cursive;
        font-size: 2rem;
        font-weight: bolder;
    
        transform: rotate(353deg);
        margin-bottom: 2rem; /*para evitar sobreposição*/
    }
    .-outline-text{
        font-family: "Londrina Sketch", sans-serif;
        font-weight: bolder;
    }
    /*********Bots Padrão**********/
    
    
    .btn{
        background-color: var(--color-lilac);
        color: var(--color-light);
        border: 3px solid var(--color-dark);
    
        border-radius: 3px;
        padding: 20px;
        cursor: pointer;
        font-weight: 600;
    
        
        box-shadow: 5px 5px #0000007a;
        transition: transform .1s ease-in-out;
    }
    
    .btn:hover {
        transform: translateY(5px) translateX(5px);
        border: 4px inset var(--color-dark-opacity);
        box-shadow: none;
    }
}