#banner{    
    height: 100vh;
    background-color: var(--color-secondary);
}
.visualBanner{
    display: none;
}
.bodyBanner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;
}
.presentation-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    text-align: justify;
    
    height: 60%;
}
.wellcome-presentation{
    font-family: "Square Peg", cursive;
    font-weight: bolder;
    font-size: 3rem;
    color: var(--color-main);
}
.intro-presentation{
    font-family: "Londrina Solid", sans-serif;
    font-size: 2.5rem;
    line-height: 60px;
}
.text-presentation{
    font-size: 1.2rem;
    line-height: 30px;
}
.-outline-text{
    font-family: "Londrina Sketch", sans-serif;
    font-weight: bolder;
}


/*BTN PADRÃO*/
.btns-banner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/*Mobile*/
@media (max-width: 480px) {
    #banner{
        padding: 0 20px;
    }
    .bodyBanner{
        justify-content: space-around;
    }
    .presentation-wrapper{
        gap: 40px;
    }
    .wellcome-presentation{
        font-size: 2.3rem;
    }
    .intro-presentation{
        font-size: 2rem;
        line-height: 40px;
    }
    .text-presentation{
        font-size: .8rem;
    }
    .-outline-text{
        font-weight: bold;
    }

    .btn{
        font-size: .8rem;
    }
}
