@media only screen and (min-width: 1000px){

    #banner{
        display: flex;
        flex-direction: row;
        padding: 0;
        position: relative;
    }
    #svgBannerImage{
        width: 80%; /* A imagem vai ocupar 100% da largura disponível */
        height: auto; /* A altura vai ajustar proporcionalmente */
        object-fit: contain; /* Faz a imagem se ajustar sem distorção */
    }
    .visualBanner{
        display: block;
        background-color: var(--color-main);
        height: 100%;
        width: 30%;
    }
    .bodyBanner{
        width: 70%;
        padding: 0 10rem;
    }
    .presentation-wrapper{
        
    }

    /* Estilizando o contêiner do SVG */
    .svg-container {
        height: 100%;
        width: auto;

    }
    
    /* Ajustando o SVG dentro do contêiner */
    .svg-container svg {
        display: block;
        
        height: 100%;
        width: 140%;
    }
}