#menu-wrapper{
    position: relative;
}
#menu-wrapper .menu-nav{
    position: fixed;
    right: -45vh;/**/

    width: 40vw;
    height: 100vh;

    z-index: 100;
    background-color: chartreuse;

    transition: all 0.3s linear;
}

#menu-wrapper .btn-nav-menu{    
    position: absolute;
    font-size: 1rem;
    top: 10px;
    left: 40vw;
    padding: 5px;
    z-index: 1001;
    color: rgb(0, 0, 0);
    background-color: aqua;
    cursor: pointer;
}

#checkbox-btn-nav-menu{
    display: none;
}
/*se o checkbox tiver marcado....*/
#checkbox-btn-nav-menu:checked ~ .btn-nav-menu i::before{
    /*troca icone*/
}
#checkbox-btn-nav-menu:checked ~ .menu-nav{
    right: 0;
}

@media only screen and (min-width: 600px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(203, 163, 240);   
    }
    
    .menu-nav-list{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        width: 100%;
    
        font-size: 1.25rem;
    }
    
    /*Toggle Switch*/
    #chk-switch{
        display: none;
    }
    
    .btn-switch{
        display: flex;
        align-items: center;
        position: relative;
        
        background-color: aliceblue;
        width: 60px;
        height: 35px;
        
        border-radius: 40px;
        padding: 5px;
        
        cursor: pointer;
    }
    .slider{/*bolinha*/
        position: absolute;
        background-color: gold;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        transition: transform .3s ease-in-out;
    }
    
    /*quando checkbox marcada, o irmão muda de cor*/
    #chk-switch:checked + .slider{
        background-color: var(--color-mint);
    }
    
    #chk-switch:checked + .slider{
        transform: translateX(1.3rem);
    }
}