#menu-wrapper{
    position: relative;
}
#menu-wrapper .menu-nav{
    position: fixed;
    right: -100vh;

    width: 45vw;
    height: 100vh;

    z-index: 100;
    /*background-color: var(--color-mint);*/
    background-image: linear-gradient(
        var(--color-mint),
        var(--color-mint),
        var(--color-mint-faded)
    );

    transition: right 0.3s linear;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}
.nav-list a{
    line-height: 3;
    padding-bottom: .5rem;
    border-bottom: 3px dashed var(--color-dark);
}
.nav-list li:hover a:hover{
    color: var(--color-lilac);
    border-color: var(--color-lilac);
}

#menu-wrapper .btn-nav-menu{    
    position: fixed;
    font-size: 1.6rem;
    top: 1rem;
    right:  1rem;
    padding: 5px;
    z-index: 100;
    color: var(--color-dark);
    background-color: transparent;
    cursor: pointer;
    transition: right 0.2s linear;
}

#checkbox-btn-nav-menu{
    display: none;
}
/*se o checkbox tiver marcado....*/
#checkbox-btn-nav-menu:checked ~ .btn-nav-menu{
    background-color: var(--color-lilac);
    right:  40vw;
    z-index: 1000;
}

#checkbox-btn-nav-menu:checked ~ .menu-nav{
    right: 0;
}









/*Toggle Switch*/
#chk-switch{
    display: none;
}

.btn-switch{
    display: flex;
    align-items: center;
    position: relative;
    
    background-color: aliceblue;
    width: 60px;
    height: 35px;
    
    border-radius: 40px;
    padding: 5px;
    
    cursor: pointer;
}
.slider{/*bolinha*/
    position: absolute;
    background-color: gold;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: transform .3s ease-in-out;
}

/*quando checkbox marcada, o irmão muda de cor*/
#chk-switch:checked + .slider{
    background-color: var(--color-mint);
}

#chk-switch:checked + .slider{
    transform: translateX(1.3rem);
}

@media only screen and (min-width: 600px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(203, 163, 240);   
    }
    
    .menu-nav-list{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        width: 100%;
    
        font-size: 1.25rem;
    }
    
    /*Toggle Switch*/
    #chk-switch{
        display: none;
    }
    
    .btn-switch{
        display: flex;
        align-items: center;
        position: relative;
        
        background-color: aliceblue;
        width: 60px;
        height: 35px;
        
        border-radius: 40px;
        padding: 5px;
        
        cursor: pointer;
    }
    .slider{/*bolinha*/
        position: absolute;
        background-color: gold;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        transition: transform .3s ease-in-out;
    }
    
    /*quando checkbox marcada, o irmão muda de cor*/
    #chk-switch:checked + .slider{
        background-color: var(--color-mint);
    }
    
    #chk-switch:checked + .slider{
        transform: translateX(1.3rem);
    }
}