

@media only screen and (max-width: 760px) {
    .base-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding-right: 30px;
        padding-left: 30px;
        min-height: 100vh;
        position: relative;
    }
    #my-projects{
        background-color: var(--color-rose);
    
        min-height: calc(100vh - 70px);/*Subtraindo a altura da nav*/
        position: relative;
        pointer-events: none;
    }
    .projects-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;background-color: chocolate;

        gap: 70px;
        width: 100%;
        /*padding: 0 1rem;*/
    }
    .section-title{
        font-size: 2.5rem;
    }
    /*card sempre aberto*/
    .project-card{
        --blur-card-color: rgba(240, 248, 255, 0.767);background-color: var(--blur-card-color);
        /*efeito desfocado*/
        box-shadow: 0 0 5px var(--blur-card-color);

        
        height: 305px;
        width: 100%;
        /*flex-direction: row;
        justify-content: space-evenly;*/
        height: 120px;
        background-color: aqua;
    }
    /*Corpo do Card*/
    .card-face{
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100%;
        max-width: 150px;
        
        font-size: .6rem;
        background-color: aliceblue;
        box-shadow: 5px 5px #0606067b;
    }
    .project-img{
        height: auto;
        width: 75%;
    }
    .btn-close-card{
        display: none;
    }
    .btn-open-project{
        pointer-events: none;
    }
}