.base-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10px 30px 30px 30px;
    min-height: 100vh;
    position: relative;

    /*border-top: 5px dashed var(--color-dark);*/
}
#my-projects{
    background-color: var(--color-rose);

    min-height: calc(100vh - 70px);/*Subtraindo a altura da nav*/
    position: relative;
    max-height: 100%;
    /*pointer-events: none*/
}
.projects-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1.5rem;
    width: 100%;
    /*padding: 0 1rem;*/
}
.section-title{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
/*card sempre aberto*/
.project-card{
    --blur-card-color: rgba(240, 248, 255, 0.767);
    background-color: var(--blur-card-color);
    /*efeito desfocado*/
    box-shadow: 0 0 5px var(--blur-card-color);
    
    display: flex;
    
    
    width:auto;
    height: 8.5rem;
    position: relative;
}
/*Corpo do Card*/
/*Face*/
.card-face{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    width: 100px;
    padding: 0 10px;
    font-size: .5rem;
    background-color: aliceblue;
    box-shadow: 5px 5px #0606067b;
}
.card-face h2{
    text-align: center;
}
.project-img{
    width: auto;
    height: 60%;
    background-color: rgb(102, 100, 237);
}
/*Body*/
/*"ABERTO"*/
.project-card .card-project-body{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

.project-info{
    /*comportamento quando aberto*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 20px 10px;
    height: 100%;
}
.project-card p{
    font-size: 1.1rem;
    font-weight: 600;
}

/*Tags Tecnologias*/
.about-project{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tags-wrapper{
    display: flex;
    gap: .5rem;
}
.tag-tec{
    font-size: .6rem;
    border-width: 3px;
    border-style: dashed;
    
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
}
.tag-tec.-color-html{
    border-color: var(--color-html);
}
.tag-tec.-color-css{
    border-color: var(--color-css);
}
.tag-tec.-color-js{
    border-color: var(--color-js);
}


/*Btns*/
.btn-close-card{
    display: none;
}

.btn-open-project{
    /*position: absolute;
    bottom: 1rem;
    right: 1rem;*/
    border: none;
    font-size: 1.3rem;

    cursor: pointer;
}
.btn-open-project:hover{
    color: var(--color-rose);
}

@media only screen and (min-width: 600px) {
    #my-projects{
        background-color: var(--color-rose);
        /*background-color: var(--color-mint);*/
    
        min-height: calc(100vh - 70px);/*Subtraindo a altura da nav*/
        position: relative;
    }
    .projects-wrapper{
        display: flex;
        justify-content: center;
    
        gap: 3rem;
        flex-wrap: wrap;
        padding: 3rem 0;
    }
    
    .project-card{
        flex-direction: column;   
        height: 305px;
        width: auto;
        
        transition: transform .15s ease-in-out;
        position: relative;
        z-index: 1;
    }
    .project-card.-opened{
        background-color: aqua;
        flex-direction: row;
        width: auto;

    }
    .btn-close-card{
        position: absolute;
        top: -7px;
        right: -7px;
    
        padding: 5px;
        cursor: pointer;
        border: none;
    }
    .card-face{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        
        height: 100%;
        width: 100%;
        max-width: 240px;
        padding: 15px;
        background-color: aliceblue;
        box-shadow: 5px 5px #0606067b;
        cursor: pointer;
    }
    .project-img{
        width: 13rem;
        height: auto;
    }
    
    .project-card.-opened .project-info{
        /*comportamento quando aberto*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        padding: 50px 10px;
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .project-card:hover{
        transform: scale(1.02) rotate(-1.5deg);
    }
    .card-project-body{
        /*border: 3px solid red;*/
        padding: 0 30px;
        font-size: 30px;
        font-family: "Square Peg", cursive;
    }

    /*Fechado*/
    .project-card .project-info{
        display: none;
    }
    .tags-wrapper{
        display: flex;
        gap: 1rem;
    }
    .tag-tec{
        border-width: 4px;
        border-style: dashed;
        
        font-weight: 500;
        border-radius: 5px;
        padding: 7px;
    }
    .tag-tec.-color-html{
        border-color: var(--color-html);
    }
    .tag-tec.-color-css{
        border-color: var(--color-css);
    }
    .tag-tec.-color-js{
        border-color: var(--color-js);
    }
    
    
    .project-card.-opened .card-project-body{
        font-family: "Montserrat", sans-serif;
        font-size: 1.3rem;
    }
    
    .project-card p{
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    /*Btns*/
    .btn-open-project:hover{
        color: cornflowerblue;
    }
    .btn-close-card{
        display: block;
    }
}