body{
    font-family: sans-serif;
}

.limpar{
    clear: both;
}

main{
    background-color: rgb(254, 248, 241);
}
button{
    cursor: pointer;
}
.title-section{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding: 30px;
}

/*GALERIA PRODUTOS*/
.container-lista--produtos{
    /*display: flex;
    justify-content: center*/
}

.galeria-produtos{
    display: flex;
    flex-direction: column;
}

.lista-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 30px;
    margin: 0 50px;/*<<<PROBLEMA AQUI (ALINHAMENTO CENTRO ARRUMAR)*/ 
    
    background-color: rgb(36, 3, 67);
}

.card-product{
    display: flex;
    flex-direction: column;
    max-width: 280px;

    border-radius: 3px;
}
.card-product .product-img{
    text-align: center;
    /*width: 100%;    */
    height: 280px;
    width: 280px;
    object-fit: cover; /* ou contain */
}
.product-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 10px;
}

.card-product:hover .product-img{
    box-shadow: 1px 1px 10px 0 black;
}

.product-link{
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: rgb(77, 46, 16);
    color: white;
    text-align: center;
}
.product-link:hover{
    background-color: rgba(77, 47, 16, 0.89);
}




.visually-hidden{
    display: none;
}

/*Block:
div
p
h1, h2, h3, h4, h5, h6
ul
ol
li
form
table
tr
td
th
blockquote
address
pre
hr*/

/*Inline:
span
a
em
strong
img
br
input
label
select
option*/