

.menu-nav{
    color:#f8eee1;
    display: flex;
    flex-direction: column;
    font-size: 0.875em;
} 

.menu-top, .menu-sub, .menu-sub-fixo{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #2d1b0a;
}

.menu-top{
    padding: 10px 50px;
}

.menu-togp li{
    background-color: rgba(127, 255, 212, 0.156);
}

.logo-container{
    display: flex;
    align-items: center;
    gap: .5em;
}
.logo-container:hover .img-logo{
    transform: rotate(-5deg);
    transition: transform .3s ease-in;
}

.img-logo {
    width: 80px;
    height: auto;
    margin: 0 auto;
}
.titulo-Site{
    font-size: 2.5em;
    margin: 0;
    font-family: 'Changer';
    font-size: 3.6em;
}

.menu-sub{
    justify-content: space-evenly;
    transition: all 0.3s ease; /* Adiciona uma transição suave para todas as propriedades */
}
.menu-sub-fixo {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

/*Editar os espaçamentos*/
.menu-sub li{
    padding: 20px;
}

.menu-sub li a{
    padding: 10px;
}

.menu-sub li a:hover, .op-ativa{
    border-bottom: 2px solid white;
}


/*Barra de Pesquisa*/
.menu-top .searchBar-menu{
    flex: 0 0 40%; /*não cresce nem encolhe, ocupa 40%*/
}

.search-form{
    display: flex;
}
.search-form .search-input{
    width: 100%;
    border-radius: 20px;
    padding: 10px 15px;
    outline: none;
    font-size: 1em;
    background-color: rgba(87, 72, 56, 0.33);
    border: none;
    height: 2em;
    margin: auto 0;
}
.search-form .search-input:focus{
    background-color:  rgba(85, 76, 66, 0.93);
    transition: background-color .2s ease;
}


.search-form .search-button{
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    
    background-color: transparent;
    color: rgb(87, 72, 56);
}

.search-form .search-button i:hover{
    color: #F1F1F1;
    transition: color .2s ease;
}